body {
  background-image: url('../imagenes/fondo.png');
}

canvas {
  margin: auto;
  display: flex;
  margin-top: calc(50vh - 286px);
}

.boton-recargar {
  margin: auto;
  display: flex;
  background: none;
  border: none;
  color: white;
  font-family: monospace;
  visibility: hidden;
}


div#inicio {
  width:  961px; 
  height: 577px; 
  background-image: url("../imagenes/Mensaje1.png");
  margin: auto;
  display: flex;
  margin-top: -600px;
}